@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$red-color :#b12a3b;
$black-color :#130c0a;
$black-opacity :#49484843;
$white-color :#fff;

